@{
    ViewBag.Title = "Index";
}

@section scripts
{
<script type="text/javascript">
    $(function () {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        };

        var connection = $.connection('/echo');
        connection.received(function (data) {
           // alert("received");
            toastr.success(data, 'Toast Received');
            //$('#messages').append('<li>' + data + '</li>');
        });

        connection.start().done(function () {
            $("#broadcast").click(function () {
              //  alert("send");
                connection.send($('#msg').val());
            });
        });

    })
</script>
}

<h2>Toastr and Signal R</h2>

    Send Toast Through Server: <input type="text" id="msg" value="Example Message"/>
    <input type="button" id="broadcast" value="broadcast" />

<br />

@*<ul id="messages">
</ul>*@